<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подтверждение</title>
</head>
<body>
    <div>
        Hello Wold
        <br>
        {{.ConfirmCode}}
    </div>
</body>
</html>