<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Money Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>
    <body id="home">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top justify-content-between">
        <a class="navbar-brand" href="/">Money Manager</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-outline-info" type="button" id="ddLocale" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{.Locale}}
                </button>
                <div class="dropdown-menu" aria-labelledby="ddLocale">
                    {{range .LangList}}
                        {{ . }}
                    {{end}}
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle btn-outline-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{i18n .Lang "header.auth_btn"}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {{if .isAuthorized}}
                        <a class="dropdown-item" href="#">{{i18n .Lang "header.auth_list_profile"}}</a>
                        <a class="dropdown-item" href="#">{{i18n .Lang "header.auth_list_dashboard"}}</a>
                        <a class="dropdown-item" href="#">{{i18n .Lang "header.auth_logout"}}</a>
                    {{else}}
                        {{template "login.tpl" .}}
                    {{end}}
                </div>
            </div>
        </div>
    </nav>