{{template "header.html" .}}
<div id="wrap">
    <form method="post" action="" class="reg">
        <p>
            <label for="email">{{i18n .Lang "user_reg.reg_email"}}</label>
            <input type="text" name="email" id="reg_email" value="">
        </p>
        <p>
            <label for="password">{{i18n .Lang "user_reg.reg_password"}}</label>
            <input type="password" name="password" id="reg_password" value="">
        </p>
        <p>
            <label for="password">{{i18n .Lang "user_reg.reg_password_confirm"}}</label>
            <input type="password" name="confirm_password" id="reg_confirm_password" value="">
        </p>
        <p class="login-submit">
            <button type="submit" class="reg_button">{{i18n .Lang "user_reg.reg_enter"}}</button>
        </p>
    </form>
</div>
{{template "footer.html"}}

